.profile
  padding-bottom: 110px
  &__user
    @include flex(space-between)
    padding: 30px 40px 30px 60px
    background: $white
    border-radius: 10px
    margin-bottom: 60px
  &__user-content
    @include flex
  &__user-img
    margin-right: 50px
    img
      width: 100px
      height: 100px
      border-radius: 100%
      object-fit: cover
      object-position: center
  &__user-descr
    p
      margin-bottom: 5px
      font-size: 24px
      font-family: 'font-md'
      color: $black
      max-width: 400px
    span
      color: $darkGrey
      font-size: 20px
  &__user-edit
    cursor: pointer
    img
      width: 24px
      height: 24px
      margin-right: 10px
    span
      border-bottom: 1px solid $blue
      color: $blue
      font-size: 18px
  &__items
    .open
      background: $white !important
  &__item
    border-radius: 10px
    margin-top: 20px
    padding: 30px 40px 30px 60px
    background: $white
  &__item-fond
    left: -200px !important
  &__item-descr
    position: absolute
    left: -480px
    top: -40px
    display: flex
    align-items: center
    img
      width: 130px !important
      height: 100px !important
      margin-right: 30px
    div
      span
        display: block
        margin-top: 10px
        &:first-child
          font-size: 18px
          color: #737373
        &:last-child
          margin-top: 5px
          font-size: 24px
          font-family: 'font-lg'
          color: $black
  &__item-close
    display: flex
    position: relative
  &__item-wrap
    @include flex(space-between)
  &__item-content
    padding-top: 40px
    .items
      display: flex
      flex-wrap: wrap
    .item
      background: #ECF9FF
      border-radius: 10px
      width: 32%
      margin-right: 2%
      padding: 20px 25px
      &:nth-child(3n+3)
        margin-right: 0 !important
      &__body
        display: flex
        align-items: center
        margin-bottom: 10px
        img
          width: 50px
          height: 50px
          object-fit: cover
          object-position: center
          border-radius: 30px
        p
          margin-bottom: 0
          color: $black
          font-size: 20px
          font-family: 'font-md'
          margin-left: 15px
          overflow: hidden
          display: -webkit-box
          -webkit-line-clamp: 2
          -webkit-box-orient: vertical
      &__footer
        display: flex
        justify-content: space-between
        align-items: flex-end
        span
          &:first-child
            font-size: 16px
            color: $darkGrey
          &:last-child
            font-size: 28px
            font-family: 'font-md'
            color: $black
    .card
      display: flex
      &__add
        form
          button
            height: 48px
            padding-top: 0
            padding-bottom: 0
          &>div
            display: flex
            align-items: flex-end
            & + div
              margin-top: 20px
        &-wrap
          label
            font-size: 14px
            color: $black
            display: block
            margin-bottom: 10px
          input
            background: #FFFFFF
            border: 1px solid #E9E9E9
            box-sizing: border-box
            border-radius: 5px
            height: 48px
            padding: 10px 15px
            color: $black
            cursor: pointer
            margin-right: 60px
          &:first-child
            input
              width: 320px
          &:nth-child(2)
            input
              width: 90px
      &__block
        background: #F2F4F8
        border-radius: 10px
        padding: 20px 25px
        height: 155px
        width: 320px
        margin-right: 15px
        display: flex
        align-items: flex-end
        img
          width: 45px
          height: 28px
          object-fit: contain
          object-position: center
          margin-right: 15px
          margin-bottom: 10px
        div
          span
            display: block
            &:first-child
              font-size: 20px
              font-family: 'font-md'
              color: $black
            &:last-child
              margin-top: 10px
              color: $darkGrey
              font-size: 16px
      &__settings
        width: 320px
        height: 155px
        display: flex
        flex-direction: column
        justify-content: space-between
        div
          width: 100%
          background: #F2F4F8
          border-radius: 10px
          height: 70px
          padding: 20px
          display: flex
          justify-content: space-between
          align-items: center
          font-size: 20px
          font-family: 'font-md'
          color: $black
          cursor: pointer
          img
            width: 12px
            height: 12px
  &__item-name
    color: $black
    font-size: 24px
    font-family: 'font-md'
    display: flex
    align-items: center
    img
      width: 32px
      height: 32px
      margin-right: 20px
  &__item-close
    img
      cursor: pointer
      width: 22px
      height: 22px

.donation
  &__banner
    background: #E4F6FF
    border-radius: 5px
    padding: 30px 90px 40px 48px
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 40px
    img
      margin-top: -40px
      margin-bottom: -40px
      height: 160px
      width: 220px
    div
      span
        display: block
        &:first-child
          color: #737373
          font-size: 22px
          margin-bottom: 20px
        &:last-child
          color: $black
          font-size: 32px
          font-family: 'font-lg'
  .tabs
    display: flex
    align-items: flex-end
    margin-bottom: 20px
    .tab
      cursor: pointer
      color: #ACACAC
      font-size: 22px
      padding: 0 40px 20px 40px
      border-bottom: 2px solid #ACACAC
    .red
      border-bottom: 4px solid #E86A84 !important
      color: $black !important
      font-family: 'font-md' !important
    .blue
      border-bottom: 4px solid $blue !important
      color: $black !important
      font-family: 'font-md' !important
  &__lists
    max-height: 300px
    overflow-y: scroll
    padding-right: 5%
    padding-top: 15px
  &__list
    display: flex
    align-items: center
    justify-content: space-between
    & + .donation__list
      margin-top: 18px
      padding-top: 18px
      border-top: 0.5px solid #ACACAC
    &>div
      display: flex
      align-items: center
      img
        width: 40px
        height: 40px
        border-radius: 100%
        margin-right: 30px
    p
      color: $black
      margin-bottom: 0
      font-size: 16px
    button
      background: #E86A84
      border-radius: 5px
      border: none
      font-size: 16px
      color: $white
      height: 32px
      padding-left: 22px
      padding-right: 22px
      text-align: center
      display: flex
      align-items: center
      margin-left: 100px
    .cost
      text-align: right
  &__red
    .cost
      border-left: 2px solid #E86A84
      width: 120px
  &__blue
    .cost
      border-left: 2px solid $blue
      padding-left: 45px
      width: 150px

.fond
  &__banner
    background-color: #EDE4FF
    background-image: url('../img/profile/fond-icon.png')
    background-repeat: no-repeat
    background-size: contain
    background-position: center center
    border-radius: 5px
    padding: 30px 48px 30px 48px
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 40px
    button
      background: #7C6BE4
      border-radius: 7px
      border: none
      height: 50px
      text-align: center
      font-size: 20px
      color: $white
      padding-left: 60px
      padding-right: 60px
      display: flex
      align-items: center
    div
      span
        display: block
        &:first-child
          color: #737373
          font-size: 22px
          margin-bottom: 20px
        &:last-child
          color: $black
          font-size: 32px
          font-family: 'font-lg'
  .tabs
    display: flex
    align-items: flex-end
    margin-bottom: 20px
    .tab
      cursor: pointer
      color: #ACACAC
      font-size: 22px
      padding: 0 40px 20px 40px
      border-bottom: 2px solid #ACACAC
    .active
      border-bottom: 4px solid #7C6BE4 !important
      color: $black !important
      font-family: 'font-md' !important
  &__lists
    max-height: 300px
    overflow-y: scroll
    padding-right: 5%
    padding-top: 15px
    .partners
      display: flex
      justify-content: space-between
      flex-wrap: wrap
      align-items: center
      div
        width: 30%
        margin-bottom: 80px
        display: flex
        overflow: hidden
        justify-content: flex-start
        img
          width: 65%
          object-fit: contain
          object-position: center

  &__list
    display: flex
    align-items: center
    justify-content: space-between
    & + .fond__list
      margin-top: 18px
      padding-top: 18px
      border-top: 0.5px solid #ACACAC
    &>div
      display: flex
      align-items: center
      img
        width: 40px
        height: 40px
        border-radius: 100%
        margin-right: 30px
    p
      color: $black
      margin-bottom: 0
      font-size: 16px
    button
      background: #E86A84
      border-radius: 5px
      border: none
      font-size: 16px
      color: $white
      height: 32px
      padding-left: 22px
      padding-right: 22px
      text-align: center
      display: flex
      align-items: center
      margin-left: 100px
    .cost
      text-align: right
    .cost-red
      border-left: 2px solid #E86A84
      width: 120px
    .cost-blue
      border-left: 2px solid $blue
      width: 120px

@media (max-width: 767px)
  .profile
    padding-bottom: 100px
    &__item-descr
      display: none
    &__item
      padding: 20px
      &-name
        font-size: 18px
        width: calc(100% - 30px)
        overflow: hidden
        display: -webkit-box
        -webkit-line-clamp: 1
        -webkit-box-orient: vertical
        img
          width: 22px
          margin-right: 15px
          height: 22px
      &-close
        img
          width: 20px
          height: 20px
    &__user
      padding: 20px
      &-content
        width: calc(100% - 34px)
        justify-content: flex-start
      &-img
        margin-right: 15px
        img
          width: 60px
          margin-right: 0
          height: 60px
      &-descr
        p
          margin-top: 0px
          font-size: 18px
          max-width: 100%
          margin-bottom: 10px
        span
          font-size: 14px
      &-edit
        margin-top: 0px
        margin-bottom: 0px
        span
          font-size: 15px
          display: none
        img
          margin-right: 0
    &__item-content
      .card
        flex-wrap: wrap
      .card__block
        width: 100%
        margin-right: 0
        margin-bottom: 15px
      .card__settings
        width: 100%
      .items
        flex-wrap: wrap
      .item
        width: 100%
        margin-right: 0 !important
        margin-bottom: 15px

  .donation
    &__banner
      padding: 30px 20px 30px 30px
      div
        span
          &:first-child
            font-size: 18px
            margin-bottom: 10px
          &:last-child
            font-size: 24px
      img
        display: none
    .tabs
      .tab
        padding: 0 0 20px 0
        width: 50%
        text-align: center
        font-size: 16px
    &__list
      flex-wrap: wrap
      .name
        overflow: hidden
        display: -webkit-box
        -webkit-line-clamp: 1
        -webkit-box-orient: vertical
      .cost
        border-left: none !important
        width: auto !important
        margin-top: 10px
        margin-bottom: 10px
        font-size: 18px
        font-family: 'font-md'
        padding-left: 0 !important
      &>div
        flex-wrap: wrap
        width: 100%
        &:first-child
          flex-wrap: nowrap !important
          img
            margin-right: 20px
        button
          width: 100%
          margin-left: 0
          justify-content: center

  .fond
    &__banner
      padding: 30px 20px 30px 30px
      background-image: none
      flex-wrap: wrap
      button
        margin-top: 15px
        width: 100%
        padding-left: 0
        padding-right: 0
        text-align: center
        justify-content: center
      div
        span
          &:first-child
            font-size: 18px
            margin-bottom: 10px
          &:last-child
            font-size: 24px
      img
        display: none
    .tabs
      .tab
        padding: 0 0 20px 0
        width: 50%
        text-align: center
        font-size: 16px
    &__lists
      .partners
        flex-wrap: wrap
        div
          width: 100%
          margin-bottom: 50px
          display: flex
          justify-content: center
    &__list
      flex-wrap: wrap
      .name
        overflow: hidden
        display: -webkit-box
        -webkit-line-clamp: 1
        -webkit-box-orient: vertical
      .cost
        border-left: none !important
        width: auto !important
        margin-top: 10px
        margin-bottom: 10px
        font-size: 18px
        font-family: 'font-md'
        padding-left: 0 !important
      &>div
        flex-wrap: wrap
        width: 100%
        &:first-child
          flex-wrap: nowrap !important
          img
            margin-right: 20px
        button
          width: 100%
          margin-left: 0
          justify-content: center

  .card__add
    form
      div
        justify-content: space-between
        flex-wrap: wrap
      button
        width: 100% !important
        margin-top: 15px
    input
      width: 100% !important
      margin-right: 0 !important
    &-wrap
      width: 100%
      margin-bottom: 15px

@media (min-width: 768px) and (max-width: 991px)
  .profile
    padding-bottom: 100px
    &__item-descr
      display: none
    &__item
      padding: 20px
      &-name
        font-size: 22px
        width: calc(100% - 30px)
        overflow: hidden
        display: -webkit-box
        -webkit-line-clamp: 1
        -webkit-box-orient: vertical
        img
          width: 22px
          margin-right: 15px
          height: 22px
      &-close
        img
          width: 20px
          height: 20px
    &__user
      padding: 20px
      &-content
        width: calc(100% - 34px)
        justify-content: flex-start
      &-img
        margin-right: 15px
        img
          width: 60px
          margin-right: 0
          height: 60px
      &-descr
        p
          margin-top: 0px
          font-size: 18px
          max-width: 100%
          margin-bottom: 10px
        span
          font-size: 14px
      &-edit
        margin-top: 0px
        margin-bottom: 0px
        span
          font-size: 15px
          display: none
        img
          margin-right: 0
    &__item-content
      .card
        justify-content: space-between
      .card__block
        width: 49%
      .card__settings
        width: 49%
      .items
        justify-content: space-between
      .item
        width: 49%
        margin-right: 0 !important
        margin-bottom: 15px

  .donation
    &__banner
      img
        display: none

  .card__add
    form
      div
        justify-content: space-between
        flex-wrap: wrap
    input
      width: 48% !important
    &-wrap
      width: 100%
      margin-bottom: 15px

@media (min-width: 992px) and (max-width: 1199px)
  .profile
    &__user
      &-edit
        span
          display: none
    &__item-content
      .items
        justify-content: space-between
      .item
        width: 49%
        margin-right: 0 !important
        margin-bottom: 15px
    &__item-descr
      display: none
